body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Tailwind's gray-50 */
}

button {
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  transform: scale(1.05);
  background-color: #2563eb; /* Tailwind blue */
}

input:focus {
  outline: none;
  border-color: #2563eb; /* Tailwind blue */
}

input::placeholder {
  color: #9ca3af; /* Tailwind gray-400 */
}


.sidebar {
  background-color: #1E3A8A; /* Dark blue background */
  color: white;
  width: 256px;
  padding-top: 16px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.sidebar-item {
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-item:hover {
  background-color: #3B82F6; /* Lighter blue on hover */
}

.sidebar-item .icon {
  margin-right: 16px;
}

.sidebar-item.active {
  background-color: #3B82F6; /* Active state */
}
